<!doctype html>
    <html>
      <head>
        <title>Hi There!</title>
      </head>
      <body>
        <h1>Hi There!</h1>
        <form action="/greet">
          What's your name? <input type="text" name="person">
          Pick your compliment:
            <select name="compliments">
             <option value="--select--compliment">--select--compliment</option>
             <option value="awesome">awesome</option>
             <option value="terrific"> terrific</option>
             <option value="fantastic">fantastic</option>
             <option value="neato">neato</option>
            </select>
        Pick your diss:
            <select name='diss'>
              <option value="--select--diss">--select--diss</option>
                <option value='nimconpoopian'>nimconpoopian</option>
                <option value='spastic'>spastic</option>
                <option value='dorky'>dorky</option>
            </select>
             <input type="submit" value="Submit">
           </form>
      </body>
    </html>